[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-sqlalchemy = "==3.0.3"
flask-migrate = "==3.1.0"
werkzeug = "==2.2.2"
marshmallow = "==3.20.1"
importlib-metadata = "==6.0.0"
importlib-resources = "==5.10.0"
ipdb = "==0.13.9"

[dev-packages]

[requires]
python_version = "3.12"
